* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}

@mixin input {
  margin-bottom: 0px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  &:focus {
    outline: none;
  }
}

.button {
  display: block;
  margin: 10px auto;
  padding: 5px 20px;
  border-radius: 4px;
  border: solid 1px;
  cursor: pointer;
}

// #BREAKPOINTS
$medium: 768px;

//# WARIABLES
$shadow: unquote("#141519");
