.rightpanel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.chat {
  &--room {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
    text-align: center;
    border-bottom: 1px solid;
    
    h2 {
      font-size: 1.2rem;
    }
  }
  &--roomname {
    flex-grow: 1;
    margin-left: 25px;
    line-height: 1.7;
  }
  &--main {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
  }
  &--messages-wrapper {
    position: relative;
    flex-grow: 1;
    width: 100%;
    list-style-type: none;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &--input {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    padding: 10px;
    input {
      @include input;
      flex-grow: 1;
    }
  }
}

.send {
  &--form {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-left: 10px;
  }
  &--button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &--icon {
    height: 30px;
    margin: 0 5px;
  }
}

.location--button {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  background-color: #bfbfbf70;
}

.menu {
  display: none;
  button {
    border: none;
    background-color: transparent;
  }
  @media (max-width: $medium) {
    display: inline;
  }
}
