.leftpanel {
  width: 260px;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.5s ease-out;
  h1 {
    flex-grow: 1;
    padding: 0.9rem;
    text-align: center;
    font-size: 1.2rem;
    span {
      font-size: 1.2rem;
      font-style: italic;
    }
  }
  h2 {
    padding: 12px 10px 5px;
    font-size: 1.1rem;
    border-bottom: 1px solid;
  }
  &--header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
  }
  &--closed {
    @media (max-width: $medium) {
      z-index: -1;
      position: fixed;
      left: -260px;
    }
  }
  &--open {
    @media (max-width: $medium) {
      z-index: 99;
      position: fixed;
      left: 0;
      box-shadow: 4px 0 15px $shadow;
    }
  }
}
li:first-child {
  padding-top: 5px;
}
li {
  padding: 0 10px;
}
li > svg {
  margin-bottom: -2px;
}

.close--icon {
  display: none;
  button {
    border: none;
    background-color: transparent;
  }
  @media (max-width: $medium) {
    display: inline;
    margin: 12px 10px 0px;
  }
}

// CreateRoom

.roomCreate {
  &--form {
    input {
      @include input;
      display: block;
      padding: 5px;
      margin: auto;
    }
    .error {
      text-align: center;
    }
  }
  &--container {
    display: block;
    padding: 5px;
  }
}

.room {
  &--container {
    display: flex;
    align-items: center;
  }
  &--info {
    margin-left: 5px;
    cursor: pointer;
  }
  &--join,
  &--leave {
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &--user-list {
    list-style-type: none;
    font-size: 0.75rem;
  }
}
