.login {
  &--page {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #2e2f30, #414447);
  }
  &--box {
    width: 230px;
    margin: 20vh auto;
    padding: 0px 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
  }
  &--form-field {
    margin: 20px 0;

    h3 {
      text-decoration: underline;
    }

    input {
      width: 80%;
      @include input;
    }
  }
  &--form-field > *:not(.button) {
    margin: 10px;
  }
}

.error {
  height: 10px;
  margin: 0 10px 10px 10px;
}
