.message--admin {
  text-align: center;
  font-style: italic;
}

.message {
  word-break: break-word;
  border-radius: 20px 20px 20px 20px;
  margin: 5px 15px 10px;
  padding: 15px 20px;
  position: relative;
}

.message.from {
  display: flex;
  width: fit-content;
  max-width: 500px;
  height: auto;
  justify-content: flex-end;
  margin-left: auto;
}
.message.to {
  display: flex;
  width: fit-content;
  max-width: 500px;
  height: auto;
  margin-right: 80px;
}
.message--box.to + .message--box.to,
.message--box.from + .message--box.from {
  margin-top: -7px;
}
.message--first:before {
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 0 20px;
  top: 0;
  clip: rect(0px, 35px, 20px, 10px);
  content: " ";
  height: 40px;
  position: absolute;
  right: -50px;
  width: 30px;
}
.message--first.to:before {
  left: -50px;
  transform: rotateY(180deg);
}
.message > p > a {
  text-decoration: underline;
}

.message--time {
  text-align: center;
}
