.ReactModal__Overlay {
  background-color: rgba(58, 58, 58, 0.75) !important;
}

.pass {
  &--box {
    width: 230px;
    margin: 20vh auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
  }
  &--form-field {
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
    h3 {
      text-decoration: underline;
    }
    input {
      @include input;
    }
  }
  &--form-field > *:not(.button) {
    margin: 10px;
  }
}
