@mixin theme(
  $primary-gradient,
  $secondary-gradient,
  $secondary,
  $primary-lines,
  $secondary-lines,
  $primary-font,
  $secondary-font,
  $input,
  $button,
  $message-to,
  $message-from,
  $message-to-font,
  $message-from-font,
  $error
) {
  * {
    color: $primary-font;
  }

  .chat {
    &--room {
      border-bottom-color: $primary-lines;
      background-image: linear-gradient(
        to bottom right,
        $primary-gradient,
        $secondary-gradient
      );
    }
    &--main {
      background-image: linear-gradient(
        to bottom right,
        $primary-gradient,
        $secondary-gradient
      );
    }
    &--input {
      background: $input;
    }
  }

  .leftpanel {
    background-color: $secondary;
    h2 {
      border-bottom-color: $secondary-lines;
    }
    &--header {
      border-bottom-color: $secondary-lines;
    }
    &--container {
      background-color: $input;
    }
  }

  .roomCreate {
    &--form {
      input {
        color: $secondary-font;
      }
    }
  }

  .location--button {
    background-color: $button;
    border-color: $primary-lines;
  }

  .button {
    background-color: $button;
  }

  .message {
    &.to {
      background-color: $message-to;
    }
    &.from {
      background-color: $message-from;
    }
    &--first:before {
      border-color: $message-from;
    }
    &--first.to:before {
      border-color: $message-to;
    }
  }
  .message.from > p {
    color: $message-from-font;
    a {
      color: $message-from-font;
    }
  }
  .message.to > p {
    color: $message-to-font;
    a {
      color: $message-to-font;
    }
  }

  .pass {
    &--box {
      border-color: $secondary-lines;
    }
    &--form-field {
      border-color: $secondary-lines;
      background-image: linear-gradient(
        to bottom right,
        $primary-gradient,
        $secondary-gradient
      );
    }
  }

  .error {
    color: $error;
  }
}
